.premium-btn{
    font-family: 'Open Sans';
    color:#fff !important;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    border-bottom: 2px solid #50861A;
    display: block;
    width: 155px;
    padding: 6px 0;
    overflow: hidden;
    float: right;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #AED064),
        color-stop(1, #7BAF47)
     );
    background-image: -o-linear-gradient(bottom, #AED064 0%, #7BAF47 100%);
    background-image: -moz-linear-gradient(bottom, #AED064 0%, #7BAF47 100%);
    background-image: -webkit-linear-gradient(bottom, #AED064 0%, #7BAF47 100%);
    background-image: -ms-linear-gradient(bottom, #AED064 0%, #7BAF47 100%);
    background-image: linear-gradient(to bottom, #AED064 0%, #7BAF47 100%);
    text-align: center;
 }

.premium-btn:hover{
 text-decoration: none;
 border-bottom: 2px solid #C77B0E;
 background-image: -webkit-gradient(
 linear,
 left top,
 left bottom,
 color-stop(0, rgb(248, 196, 24)),
 color-stop(1, rgb(243, 156, 17))
 );
    background-image: -o-linear-gradient(bottom, rgb(248, 196, 24) 0%, rgb(243, 156, 17) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(248, 196, 24) 0%, rgb(243, 156, 17) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(248, 196, 24) 0%, rgb(243, 156, 17) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(248, 196, 24) 0%, rgb(243, 156, 17) 100%);
    background-image: linear-gradient(to bottom, rgb(248, 196, 24) 0%, rgb(243, 156, 17) 100%);
}

.express-btn{
font-family: 'Open Sans';
    color:#fff !important;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    width: 155px;
    padding: 6px 0;
    overflow: hidden;
    float: right;
    text-decoration: none;
    text-align: center;
 text-decoration: none;
 border-bottom: 2px solid #C77B0E;
 background-image: -webkit-gradient(
 linear,
 left top,
 left bottom,
 color-stop(0, rgb(248, 196, 24)),
 color-stop(1, rgb(243, 156, 17))
 );
    background-image: -o-linear-gradient(bottom, rgb(248, 196, 24) 0%, rgb(243, 156, 17) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(248, 196, 24) 0%, rgb(243, 156, 17) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(248, 196, 24) 0%, rgb(243, 156, 17) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(248, 196, 24) 0%, rgb(243, 156, 17) 100%);
    background-image: linear-gradient(to bottom, rgb(248, 196, 24) 0%, rgb(243, 156, 17) 100%);
}

.express-btn:hover{
    border-bottom: 2px solid #50861A;
    text-decoration: none;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #AED064),
        color-stop(1, #7BAF47)
     );
    background-image: -o-linear-gradient(bottom, #AED064 0%, #7BAF47 100%);
    background-image: -moz-linear-gradient(bottom, #AED064 0%, #7BAF47 100%);
    background-image: -webkit-linear-gradient(bottom, #AED064 0%, #7BAF47 100%);
    background-image: -ms-linear-gradient(bottom, #AED064 0%, #7BAF47 100%);
    background-image: linear-gradient(to bottom, #AED064 0%, #7BAF47 100%);
 }


 .premium-info, .express-info{
    border: 1px solid #77b42f !important;
    padding: 9px 10px 9px 20px !important;
    background-color: #f7f7f7;
 }
 .express-info {
     border: 1px solid #ffb31f !important;
 }

 .premium .flag{
    background-color: #77b42f;
    border: 1px solid #77b42f;
    border-right: 1px solid #77b42f !important;
 }

 .premium .flag-express{
    background-color: #ffb31f;
    border: 1px solid #ffb31f;
    border-right: 1px solid #ffb31f !important;
    width: 22px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
 }

 .premium-text{
    font-family: 'Arial';
    color: #333333;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 2.4;
 }

 .statistics-info{
    border: 1px solid #ff8f0f !important;
    padding: 9px 20px 9px 20px !important;
    background-color: #fefcf4;
 }

 .statistics .flag{
      border: 1px solid #ff8f0f;
      border-right: 1px solid #ff8f0f !important;
 }
section.hockey td.flag {
    background-image: url('../img/flag_hockey.jpg')
}

section.basketball td.flag {
    background-image: url('../img/flag_basketball.jpg')
}

section.soccer td.flag {
    background-image: url('../img/flag_football.jpg')
}
section.tennis td.flag {
    background-image: url('../img/flag_tennis.jpg')
}


.statistics-text{
    color:#333333;
    font-size: 12px;
    float: left;
    overflow: hidden;
    line-height: 1.4;

}
.statistics-text a{
    color:#1b3c5e;
    text-decoration: underline;
    font-size: 11px;
    text-transform: uppercase;
}
.statistics-count{
    display: block;
    float: right;
    overflow: hidden;

}

.count{
    font-size: 26px;
    color:#333333;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.8;
}
.plus{
    color:#ff9210;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 2px;
}
.statistics-count-text{
    font-size: 9px !important;
    color: #000;
    opacity: .5;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 0.8 !important;
    margin-top: 5px;
}


/*Форма регистрации*/


#reg-form{
    width: 340px;
    min-height: 315px;
    z-index:100;
    background-color: #fff;
    padding: 35px 60px 40px;
    text-align: center;
    margin-left: 116px;
    position: absolute;
    margin-top: -265px;
}
.blackout-locker #reg-form
{
    position:relative;
    margin-top: 0;
    top: 170px;
    margin-left: 90px;
}

#reg-form.fixed {
    position: fixed;
    z-index: 2000000;
    left: 50%;
    top: 10%;
    margin-top: 80px;
    margin-left: -232px;

    box-shadow: 1px 1px 8px rgba(0, 0, 0, .75);
}

#reg-form.registered
{
    position: relative;
    margin: 0 auto;
}




#reg-form h2{
    font-size: 28px;
    color: #333;
    font-weight: normal;
    height: auto;
}

.user_email{
    width: 318px;
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    margin-bottom: 10px;
    line-height: 40px;
    font: 14px Arial, sans-serif;
    color: #000;
    background: #fff;
    border: 1px solid #cfcdcd;
    border-radius: 0;
    box-shadow: inset 0px 3px 4px 0px rgba(40, 40, 40, 0.14);
    margin: 30px 0 18px;
}

.user_email:focus,.user_email:active{
    outline: none !important;
}

.reg-btn{
width: 100%;
    height: 38px;
    padding: 0 35px;
    font: 16px Arial, sans-serif;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    background: #ffc62c;
    background: -moz-linear-gradient(top,  #ffc62c 0%, #ff7004 100%);
    background: -webkit-linear-gradient(top,  #ffc62c 0%,#ff7004 100%);
    background: linear-gradient(to bottom,  #ffc62c 0%,#ff7004 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc62c', endColorstr='#ff7004',GradientType=0 );
    box-shadow: inset 0px 0px 5px 0px rgba(255, 192, 2, 0.004);
}

.reg-btn:hover{
 background: #ffe05a;
    background: -moz-linear-gradient(top, #ffe05a 0%, #ffaa04 100%);
    background: -webkit-linear-gradient(top, #ffe05a 0%,#ffaa04 100%);
    background: linear-gradient(to bottom, #ffe05a 0%,#ffaa04 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe05a', endColorstr='#ffaa04',GradientType=0 );
}

.reg-btn:active,.reg-btn:focus{
    outline: none;
}
.input-checkbox {
    margin-top: 15px;
}
#reg-form p.input-checkbox-text{
    font-size: 12px;
    color: #777;
    line-height: 1.4;
}
#reg-form p.input-checkbox-text a{
    color: #777;
    text-decoration: underline;
}
#reg-form p.input-checkbox-text a:hover{
    color:#000;
}
.enter-with{
    font-size: 15px;
    text-align: center;
    color: #333;
    margin-top: 40px;
    position: relative;
}

.enter-with::before{
    position: absolute;
    content: '';
    left: 0px;
    top: 10px;
    width: 120px;
    height: 1px;
    background: url(../img/line-reg-form.png) repeat-x;

}
.enter-with::after{
    position: absolute;
    content: '';
    right: 0px;
    top: 10px;
    width: 120px;
    height: 1px;
    background: url(../img/line-reg-form.png) repeat-x;

}

.vk-btn{
    background: url(../img/vk-btn.png)no-repeat;
    border: none;
    width: 160px;
    height: 37px;
    border-radius: 4px;
    cursor: pointer;
    padding: 0;
    margin-top: 15px;
    /*margin-right: 15px;*/
}
.vk-btn:hover{
    background: url(../img/vk-btn-hov.png)no-repeat;

}

.ok-btn{
    background: url(../img/ok-btn.png)no-repeat;
    border: none;
    width: 160px;
    height: 37px;
    border-radius: 4px;
    cursor: pointer;
    padding: 0;
    margin-top: 15px;

}
.ok-btn:hover{
    background: url(../img/ok-btn-hov.png)no-repeat;

}

#reg-form .close{
    position: absolute;
    z-index: 2000002;
    right: 15px;
    top: 15px;
    width: 30px;
    height: 30px;
    background: url('../img/close.png') no-repeat 50% 0;
}

#reg-form .close:hover {
    background-position: 50% 100%;
}

.screen2-text{
    font-size: 16px;
    color: #333;
    text-transform: uppercase;
    line-height: 1.5;
}

.screen2 img{
    margin:75px auto 30px;
}

#reg-form h3 {
    font-size: 24px;
    color: #333;
    font-weight: bold;
    text-transform: none;
    font-weight: normal;
    margin-left: -20px;
    margin-right: -20px;
}


/*VIP*/


a.button1-vip {
    display: inline-block;
    width: 337px;
    height: 65px;
    line-height: 67px;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: url('../img/landing/button_03.png') no-repeat 0 -1px;
    margin-right: -8px;
    position: absolute;
    z-index: 100;
    font-family: 'GothaProBla';
    left: 600px;
    top: 350px;
    text-transform: uppercase;
}
a:hover {
    text-decoration: underline;
}

#calc-vip{
    background-color: #f0f0f0;
    margin-right: -20px;
    margin-left: -20px;
    margin-top: -20px;
    padding: 30px;
}
#calc-vip h1{
    text-align: center;
    color: #333!important;
    font-size: 28px;
    margin-top: 15px;
}

.bet{
    width: 25%;
    float: left;
}

.days-count{
    width: 50%;
    float: left;
}
.forecast{
    width: 25%;
    float: right;
}

.bet-label{
    color:#333 !important;
}

.bet-count{
    width: 150px;
    display: inline-block;
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    font: 28px Arial, sans-serif;
    color: #000;
    background: #fff;
    border: 1px solid #cfcdcd;
    border-radius: 0;
    box-shadow: inset 0px 3px 4px 0px rgba(40, 40, 40, 0.14);
    margin-top: 10px;
    font-weight: bold;
}
.bet-count:focus,.bet-count:active{
    outline: none;
}

.bet-count::-webkit-input-placeholder {
    color: #000;
   }
.bet-count::-moz-placeholder{
color:#000;
}

.bet-count:-moz-placeholder{
color:#000;
}

.bet-count:-ms-input-placeholder {
color:#000;
}

#slider-days{
    margin-top: 25px;
    height: 7px;
    border: 7px solid #f7f7f7;
    position: relative;
}

.min-day,.max-day{
    color:#333;
    font-size: 16px;
    position: absolute;
}

.min-day{
    top: 20px;
    left: 0;
}

.max-day{
   top: 20px;
   right: 0;
}
#slider-days .ui-widget-header{
background: #ffa526;
background: -moz-linear-gradient(top,  #ffa526 0%, #ff8210 100%);
background: -webkit-linear-gradient(top,  #ffa526 0%,#ff8210 100%);
background: linear-gradient(to bottom,  #ffa526 0%,#ff8210 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa526', endColorstr='#ff8210',GradientType=0 );

}
.days-count .ui-widget-content{
background: #919396;
background: -moz-linear-gradient(top,  #919396 0%, #bcbdbd 100%);
background: -webkit-linear-gradient(top,  #919396 0%,#bcbdbd 100%);
background: linear-gradient(to bottom,  #919396 0%,#bcbdbd 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#919396', endColorstr='#bcbdbd',GradientType=0 );

}

.ui-corner-all{
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}


#slider-days .ui-state-default, #slider-days .ui-widget-content .ui-state-default,
#slider-days .ui-widget-header .ui-state-default{
    background: url(../img/mark.png)no-repeat;
    border:none;
}

.ui-slider .ui-slider-handle{
    width: 40px;
    height: 40px;
    position: absolute;
    display:inline-block;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    color: #333;
}
.ui-slider .ui-slider-handle:active,.ui-slider .ui-slider-handle:focus{
    outline: none;
}
.ui-slider-range
{
    height:6px;
}

.forecast-count{
    font-size: 28px !important;
    color: #333 !important;
    font-weight: bold;
    line-height: 2 !important;
    margin-left: 90px;
}
.bet-label,.slider-days-label,.forecast-label{
    font-size: 16px !important;
}

.calc-container{
    margin-top: 40px;
    overflow: hidden;
}

.bet-text{
    text-align: center;
    font-size: 16px !important;
    font-weight: bold;
    margin-top: 40px;
}

.bet-price{

  font-size: 40px !important;
  color: #77b42f !important;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.4 !important;
  margin: 5px auto;

}
.info-stars{
    color: #b6b5b5;
    font-size: 13px;
    text-align: center;
}

/*прогнозы таблицы*/

.prognoz-info{
    text-align: left;
}

.sport-type{
font-size: 13px;
color: #000;
text-transform: uppercase;
margin-left: 5px;
}
.liga{
font-size: 13px;
color: #1b3c5e;
text-transform: uppercase;
}
.logo-team{
    width: 46px;
}

.time-label{
font-size: 15px;
color: #424242;
}
.time{
font-size: 15px;
color: #424242;
font-weight: bold;
}

.times{
    float: right;
}

.prognoz-teams{
    width: 655px;
    height: 78px;
    margin:20px 0 10px;
    text-align: left;
    background: url(../img/prognoz-team-bg.jpg) no-repeat;
    background-position: top center;
    float: left;
}


#prognoz-single {
    width: 100% !important;
}
#prognoz-single tr{
    height: 78px;
}

.name-team,.name-team2{
    font-size: 16px;
    font-weight: bold;
    color: #333;
    width: 244px;
}
.name-team
{
    padding-left: 10px;
}
.name-team2{
    text-align: right;
    padding-right:10px;
}
.start-time{
    text-align: center;
    font-size: 13px;
    color: #000;
    padding-top: 25px;
    width: 80px;
}


.orange-btn{

  font-size: 14px;
  font-family: "Arial";
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 4px;
  background-image: -moz-linear-gradient( 90deg, rgb(255,102,0) 0%, rgb(255,202,58) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(255,102,0) 0%, rgb(255,202,58) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(255,102,0) 0%, rgb(255,202,58) 100%);
  width: 165px;
  height: 32px;
  border: none;
  cursor: pointer;
  display: inline-block;
  line-height: 32px;
  text-decoration: none;
}

.orange-btn:hover{
background: #ffe05a;
background: -moz-linear-gradient(top,  #ffe05a 0%, #ffaa04 100%);
background: -webkit-linear-gradient(top,  #ffe05a 0%,#ffaa04 100%);
background: linear-gradient(to bottom,  #ffe05a 0%,#ffaa04 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe05a', endColorstr='#ffaa04',GradientType=0 );
text-decoration: none;
}
.orange-btn:focus,.orange-btn:active{
    outline: none;
}
.proznoz-btn {
    margin: 41px 0 41px 24px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

#content .introtext, #content .introtext p{
    font-size: 13px;
    color: #8b8a8a;
    text-align: left;
}

.btn-large{
  font-size: 15px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  background: #ffae12;
  background: -moz-linear-gradient(top,  #ffae12 0%, #ff7d0d 100%);
  background: -webkit-linear-gradient(top,  #ffae12 0%,#ff7d0d 100%);
  background: linear-gradient(to bottom,  #ffae12 0%,#ff7d0d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffae12', endColorstr='#ff7d0d',GradientType=0 );
  border:none;
  cursor: pointer;
  width: 371px;
  height: 58px;
  margin-top: 50px;
  display: inline-block;
  line-height: 58px;
  text-decoration: none;
}

.btn-large:hover{
background: #ffe05a;
background: -moz-linear-gradient(top,  #ffe05a 0%, #ffaa04 100%);
background: -webkit-linear-gradient(top,  #ffe05a 0%,#ffaa04 100%);
background: linear-gradient(to bottom,  #ffe05a 0%,#ffaa04 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe05a', endColorstr='#ffaa04',GradientType=0 );
text-decoration: none;
}
.btn-large:focus,.btn-large:active{
    outline: none;
}
/*аккордеон*/

.accordion-wrap{
    width: 960px;
    padding: 0 20px;
}
#accordion{
    overflow: hidden;
    margin: 0 auto 20px;
    /*padding: 0 20px 20px;*/
}

#accordion a{
    text-decoration: none;
}
#accordion table{
    width: 100%;
}

#accordion a:hover{
    text-decoration: underline;
}
#accordion .date-and-type .type-soccer
{
    background-image: url('../img/football-icon.png');
    width: 22px;
    height: 23px;
    display:inline-block;
}
#accordion .date-and-type .type-tennis
{
    background-image: url('../img/tennis-icon.png');
    width: 22px;
    height: 23px;
    display:inline-block;
}
#accordion .date-and-type .type-hockey
{
    background-image: url('../img/hockey-icon.png');
    width: 22px;
    height: 23px;
    display:inline-block;
}
#accordion .date-and-type .type-basketball
{
    background-image: url('../img/basketball-icon.png');
    width: 22px;
    height: 23px;
    display:inline-block;
}


.ui-accordion .ui-accordion-header {
    position: relative;
    cursor: pointer;
font-size:15px;
color:#000;
font-weight:normal;
padding:5px 20px;
margin: 0;
text-transform: none;
}
.ui-accordion .ui-accordion-header-active{
    font-weight: bold !important;
}
.ui-accordion-header-active,.ui-state-default:focus,.ui-accordion-header-active,.ui-state-default:active{
outline:none;
}
.ui-accordion{
border-radius: 0;
text-align: left;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius:0;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 0;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 0;
}

.ui-accordion .ui-accordion-header .ui-accordion-header-icon{
    position:absolute;
right:20px;
left:inherit;
}

.ui-accordion .ui-accordion-icons {
    padding-left: 20px;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active,.ui-widget-content {
     border: 1px solid #ccc;
}

.ui-state-active .ui-icon {
    background: url("../img/arrow-up.png") no-repeat !important;
}

.ui-icon, .ui-widget-content .ui-icon  {
    background: url("../img/arrow-down.png") no-repeat;
}
.ui-state-default .ui-icon{
background: url("../img/arrow-down.png") no-repeat;
}
.ui-icon {
    width: 18px;
    height: 18px;
}
.ui-accordion-header .arrow-text{
position: absolute;
right: 45px;
top: 8px;
font-size:12px;
font-weight:normal;
text-transform:uppercase;
color:#1b3c5e;
}
.ui-accordion-header-active .arrow-text{
    font-weight:bold !important;
}
.ui-accordion-content{
    width: 100%;
}
.ui-accordion-content td{
    padding: 10px 20px;
    vertical-align: middle;
}

.ui-accordion-content>table>tbody>tr:nth-child(odd)>td{
    background-color: #f7f7f7;
   }
.ui-accordion-content>table>tbody>tr{
   border-bottom: 1px solid #ccc;

}
.ui-accordion .ui-accordion-content{
    padding: 0;
}

.ui-accordion-content .ui-state-default{
    border-top: 0;
}
.ui-widget-content{
    border:none;
}
.ui-state-hover{
    border: 1px solid #d3d3d3;
}
.date-and-type{
    width: 60px;
    text-align: center;
    background-color: #e6e6e6 !important;
    font-size: 16px;
    color: #8f8f8f;
   font-weight: bold;
   text-shadow: 1px 1px 0px rgba(246, 246, 246, 1);
}
.date{
    float: left;
    line-height: 0.7;
    margin-right: 9px;
    color: #8f8f8f;

}
.month{
    font-size: 11px;
    font-weight: normal;
    color: #8f8f8f;
}

.event-liga{
    color: #1b3c5e !important;
    font-size: 10px !important;
    text-transform: uppercase;
    margin-bottom: 2px;
}
.event-time{
    color: #333 !important;
    font-size: 14px !important;
    margin-right: 5px;
}

.event-teams, .event-teams a{
    color: #006bce !important;
    font-size: 14px !important;
}
.event,.koof{
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: none;
}
.koof{
    text-align: center;
    font-size: 18px;
    color: #000;
}

.koof span{
    margin-top: 10px;
}
.read-more{
    text-align: center;
    color: #1b3c5e;
    font-size: 13px;
}
.rm{
    position: relative;
    color: #1b3c5e !important;
}

.rm::before{

    position: absolute;
    content: '';
    left: -28px;
    top: -2px;
    width: 20px;
    height: 20px;
    background: url(../img/checked-green.png) repeat-x;

}
.premium-event{
    position: relative;
    display: block;
}
.vip-event{
    position: relative;
    display: block;
}
.free-event{
    position: relative;
    display: block;
}
.premium-event::after{
    position: absolute;
    content: '';
    /* top: -10px;
    right: -20px; */
    top: 0px;
    right: 0px;
    width: 84px;
    height: 23px;
    background: url(../img/premium-icon.png) repeat-x;
}
.vip-event::after{
    position: absolute;
    content: '';
    top: 0px;
    right: 0px;
    width: 35px;
    height: 23px;
    background: url(../img/84_25/vip-icon.png) no-repeat;
}

.premium-event:hover::after{
    background-position: 0 -30px;
}
/* .vip-event:hover::after{
    background-position: 0 -30px;
} */

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
background: #eeeeee;
background: -moz-linear-gradient(top,  #eeeeee 0%, #d9d9d9 100%);
background: -webkit-linear-gradient(top,  #eeeeee 0%,#d9d9d9 100%);
background: linear-gradient(to bottom,  #eeeeee 0%,#d9d9d9 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#d9d9d9',GradientType=0 );

}

.ui-accordion-header-active{
    background: #fcfcfc !important;
}


/*блоки гарантии надежности*/

.title-min {
    margin: 50px 0;
    font-size: 28px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.block-title{
    font-size: 18px;
    color: #18171c;
    font-weight: bold;
    margin-bottom: 10px;
}

.block-text{
    font-size: 13px;
    color: #18171c;
    line-height:1.5;
}

.single-block{
float: right;
    width: 330px;
    overflow: hidden;
    padding: 20px;
}

body .fancybox-title-float-wrap .child {
    color: orange;
}
/*
     FILE ARCHIVED ON 06:29:40 Aug 28, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:17:09 Oct 01, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  esindex: 0.013
  RedisCDXSource: 0.878
  captures_list: 269.831
  PetaboxLoader3.resolve: 57.676 (2)
  load_resource: 153.696 (2)
  exclusion.robots: 0.39
  CDXLines.iter: 22.403 (3)
  LoadShardBlock: 241.007 (3)
  exclusion.robots.policy: 0.371
  PetaboxLoader3.datanode: 276.692 (5)
*/
