#topbanner {
    position: relative;
    float: right;
    width: 630px;
    height: 110px;
    margin: 23px -60px 0 0;
    font-size: 16px;
    line-height: 19px;
    color: #ccc;
    background: #323232;
}

    #topbanner ins {
        position: absolute;
        right: 9px;
        bottom: 0;
        width: 117px;
        height: 118px;
        background: url('../img/banner-kubok.png') no-repeat 0 0;
    }

    #topbanner .from {
        float: right;
        width: 80px;
        height: 57px;
        margin: 27px 140px 0 0;
        padding: 2px 0 0 17px;
        font-size: 13px;
        color: #ffc700;
        background: url('../img/banner-line.png') no-repeat 0 0;
        text-transform: uppercase;
    }

    #topbanner .best {
        padding: 26px 0 0 20px;
        line-height: 18px;
    }

        #topbanner .best a {
            display: inline-block;
            line-height: 24px;
            padding-right: 28px;
            font-weight: 700;
            color: #ccc;
            background: url('../img/banner-icon.png') no-repeat 100% 2px;
        }

            #topbanner .best a span {
                display: inline-block;
                line-height: 18px;
                border-bottom: 2px solid #ccc;
            }

                #topbanner .best a:hover span {
                    border-color: transparent;
                }
/*
     FILE ARCHIVED ON 06:29:22 Aug 28, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:17:08 Oct 01, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  CDXLines.iter: 17.294 (3)
  PetaboxLoader3.resolve: 89.189 (3)
  load_resource: 163.936 (2)
  exclusion.robots.policy: 0.23
  esindex: 0.014
  PetaboxLoader3.datanode: 215.768 (5)
  RedisCDXSource: 0.97
  exclusion.robots: 0.254
  captures_list: 197.823
  LoadShardBlock: 174.38 (3)
*/
