#header-img-slogan {
	background: linear-gradient(135deg, #ffffff, #07bcf7);
}#desc-text-2col-img-2 {
    background: #F5FBFD;
}#footer-center-logo {
    background: #2b356f;
}

#footer-center-logo .bg {
    background-image: url('../images/bg-3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.35;
}